@use "../utils" as *;

.container {
  max-width: 70rem;
  padding-inline: var(--space-200);
  margin-inline: auto;

  @include mq(m) {
    padding-inline: var(--space-1000);
  }

  @include mq(s) {
    padding-inline: var(--space-300);
  }
}
